<nav class="navbar navbar-light bg-secondary navbar-expand-sm">
  <%= link_to image_tag("p-active.svg", alt: "P-Active"), root_path, id: "logo", class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to "Log out", logout_path, class: "nav-link" %></li>
      <% else %>
        <li class="nav-item"><%= link_to "Log in", login_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>
